@media screen and (max-width: 768px){

    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .header {
        flex-direction: column;
        text-align: center;
    }

    .headline {
        margin: 20px;
    }

    .img-headline {
        margin: 20px;
    }

    .card {
        width: 90%;
    }

    .titulo-grande {
        font-size: 40px;
    }
}   